body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ............................Logotype................... */
.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.accent {
  color: #4d5ae5;
}
.second-accent {
  color: #2e2f42;
}
.third-accent {
  color: #f4f4fd;
}
/* ...........................Navigation.................... */
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* .......................Contact..................... */
.contact-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-email:hover,
.contact-email:focus {
  color: #404bbf;
}
.contact-phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: #404bbf;
}
/* ........................Hero................. */
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  /* color: #ffffff; */
}
/* ..........................Batton............................ */
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* ........................Features.................. */
.el-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.el-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* .............................About Team....................... */
.title-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.description-align {
  text-align: center;
}
.section-team {
  background: #f4f4fd;
}
/* ...................File Portfolio.................. */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #404bbf;
  color: #e7e9fc;
}
